.container {
    display: flex;
    height: 90vh;
    width: 60%;
    justify-content: center;
}

.page,
.form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: aliceblue;
}

.page {
    background-color: #5c61e7;
}

.form1 {
    width: 250px;
    background: rgb(240, 243, 245);
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(122, 119, 119, 0.587);
    margin-bottom: 15px;
    height: 70vh;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #5053ee;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.form1 input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.circle {
    width: 80px;
    height: 80px;
    background-color: #797ef0;
    border-radius: 50%;
    position: fixed;
    top: 80px;
    left: 100px;

}

.head {
    position: fixed;
    top: 150px;
    left: 80px;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
.head2{
    position: fixed;
    top: 180px;
    left: 150px;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}


.result {
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #5457e4;
    color: white;
    border: 5px solid rgb(248, 241, 241);
    padding: 20px;
    margin: 10px;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head1 {
    color: rgb(239, 239, 243);
    justify-content: center;
}