<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
    <h2>Enter Form</h2>
    <form   class="form" action="/submit" method="post">
        name : <input type="text" name="name">
        <br><br>
        email: <input type="email" name="email">
        <br><br>
        age  : <input type="number" name="age" >
        <br><br>
        course: <select name="course">
            <option value="CS">Computer Science</option>
            <option value="IT">Information Technology</option>
            <option value="EC">Electronics and Communication</option>
        </select>
        <br><br>

        <button  class="btn" type="submit">Submit</button>
    </form>
    </div>
</body>
</html>